@import url('https://fonts.googleapis.com/css2?family=Muli:wght@700&family=Nunito&display=swap');

* {
  box-sizing: border-box;
}


body {
  color: #333;
  line-height: 1.5;
  font-size: 17px;
  font-family: "Nunito", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input, textarea, select {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli", sans-serif;
}

a {
  text-decoration: none;
  color: #4054B2;
}

a:hover {
  color: #5064C2;
}